@charset "UTF-8";

:root{
    --cor1:#181E40;
    --cor2:#311F73;
    --cor3:#6A2EA6;
    --cor4:#BF349A;
    --cor5:#C7D0F1;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 0px;

}
html {
    width: 100vw;
    height: 100vh;
    background-color: rgba(90, 89, 89, 0.952);

}

header{
    background-color: var(--cor1) ;
    display: inline-block;
    width: 100vw;
    height: 60px;
    position: relative;
    box-shadow: 5px 0px 5px black ;
    
   
}
.m{
    display: block;
}
#itens{
    display: none;
    background-color: var(--cor2);
    width: 200px;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    box-shadow: 2px 2px 2px black;
    
}

 #itens a{
    background-color: white;
    text-decoration: none;
    display: block;
    position: relative;
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px black;
}

#a1{
  position: absolute;
  top: 60px;
  left: 20px;
}

#a2{
  position: absolute;
  top: 120px;
  left: 20px;
}

#a3{
  position: absolute;
  top: 180px;
  left: 20px;
}

#a4{
  position: absolute;
  top: 240px;
  left: 20px;
}





.m > span{
    
    position: absolute;
    color: white;
    margin: 15px;
    font-size: 2em;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

.m > span > a {
    text-decoration: none;
    color: white;
}


menu{
  
  display: none;
}




#logo > img{
    width: 45px;
    display: inline-block;
    position: absolute;
    margin-left: 50%;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px black;
}

main{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: calc(100vh - 60px);
}




